<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

　<%= link_to user_path(current_user.id), class:"sidebar-brand d-flex align-items-center justify-content-center"  do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"><%= current_user.nickname %></div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <%= link_to user_path(current_user.id), class: "nav-link" do %>
      <i class="fas fa-fw fa-list"></i>
      <span>カレンダー一覧</span>
    <% end %>
    <%= link_to new_group_path, class: "nav-link" do %>
      <i class="far fa-fw fa-calendar-plus"></i>
      <span>グループ作成</span>
    <% end %>    
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>ログアウト</span>
    <% end %>
  </li>

  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Sub
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-folder"></i>
      <span>グループ一覧</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">一覧:</h6>
        <% groups.each do |group| %>
          <%= link_to group.name, group_tasks_path(group.id), class: "collapse-item" %>
        <% end %>
      </div>
    </div>
  </li>

</ul>