<%= render partial: "share/navbar" %>

<div class="container">

  <header class="jumbotron my-4">
    <h1 class="display-3">ユーザー情報</h1>
    <table>
      <thead>
        <br/><tr><h5 class="desplay-3"><%= "ニックネーム：" + @user.nickname  %></h4></tr>
      </thead>
    </table><br/>
    <% if current_user.id == @user.id %>
      <%= link_to "グループ作成", new_group_path, class: "btn btn-warning" %>
    <% else %>
    <% end %>
  </header>

  <h2>カレンダー一覧</h2>

  <div class="row text-center">

    <% @user.groups.each do |group| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><%= group.name %></h4>
            <div class="member">メンバー</div>
            <table class="member-table">
                <tr>
                  <% group.users.each do |user| %>
                    <td><%= link_to user.nickname, user_path(user.id), class: "btn btn-info small" %></td>
                  <% end %>
                </tr>
            </table>
          </div>
          <% group.users.each do |user| %>
            <% if current_user.id == user.id %>
              <div class="card-footer">
                <%= react_component( "GroupBtn", props={group: group} )%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>